PROJECT_NAME=data-warehouse-proj

ENV=dev

EVENTS_PER_SECOND=20

LOG_LEVEL=INFO

AWS_REGION=ap-southeast-2

S3_BUCKET=abhinav-ecommerce-data-lake

KAFKA_BOOTSTRAP_SERVERS=localhost:9092

SNOWFLAKE_ACCOUNT=FLRIAES-NQ53478
SNOWFLAKE_USER=ABSHUKLA
SNOWFLAKE_PASSWORD=YOUR_PASSWORD

SNOWFLAKE_DATABASE=ECOMMERCE_DW
SNOWFLAKE_SCHEMA=RAW
SNOWFLAKE_WAREHOUSE=COMPUTE_WH