PROJECT_NAME=data-warehouse-proj

# AWS
AWS_REGION=ap-southeast-2
S3_BUCKET=abhinav-ecommerce-data-lake

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Snowflake
SNOWFLAKE_ACCOUNT=FLRIAES-NQ53478
SNOWFLAKE_USER=<YOUR_USER>
SNOWFLAKE_PASSWORD=<YOUR_PASSWORD>
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=ECOMMERCE_DW
SNOWFLAKE_SCHEMA=RAW